# For Loops Exercises

1. Print like below.  
9 rows

<pre>
*
**
***
****
*****
******
*******
********
*********
</pre>

2. Print like this. 

<pre>
*
**
***
****
*****
****
***
**
*
</pre>

3. How many A contains in text? Both A and a.

In [ ]:
text = "How many A contains? Both capital A and lower a"

4. Separate into two different list; even and odd.

<pre>
Evens : [2, 4, 4, 6, 4, 2]
Odds  : [1, 3, 3, 5, 3]
</pre>

In [ ]:
num_list = [1, 2, 3, 4, 3, 4, 6, 5, 4, 3, 2]
evens = []
odds = []

5. Calculate the average number from the list. 
Average Number is the sum of all numbers divided by the count of the number. 
<pre>
Average number is 3.0
<pre>

In [ ]:
num_list = [3, 4, 3, 2, 3, 4, 3, 2, 4, 2, 3]

6. Loop the dictionary. Result looks like this. 
<pre>
Mg Mg is 20 years old.
Rose is 21 years old.
John is 30 years old.
Terry is 25 years old.
</pre>

In [ ]:
people = {
    'Mg Mg': 20,
    'Rose': 21,
    'John': 30,
    'Terry': 25
}

7. Find the index from the word 'Hello!'.

<pre>
H is index 0.
e is index 1.
l is index 2.
l is index 3.
o is index 4.
! is index 5.
</pre>

In [ ]:
my_text = "Hello!"

8. Combine the two lists like this. 
<pre>
mango costs 400 kyats.
orange costs 200 kyats.
apple costs 500 kyats.
banana costs 1000 kyats.
</pre>

In [ ]:
fruits = ['mango', 'orange', 'apple', 'banana']
prices = [400, 200, 500, 1000]

9. Combine the three lists like this. 
<pre>
John Cena is 33 years old.
Michael Owen is 45 years old.
David James is 46 years old.
Scarlet Johanson is 40 years old.
</pre>

In [ ]:
first_names = ['John', 'Michael', 'David', 'Scarlet']
last_names = ['Cena', 'Owen', 'James', 'Johanson']
ages = [33, 45, 46, 40]